.bg-section {
  width: 100%;
  min-height: 480px;

  background-image: url("/images/partner-back.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

.overlay-box {
  width: 100%;
  padding: 60px 0;

  background: rgba(0,0,0,0.5);
}

.our-credentials-page .solid-bg {
  background-color: #ffffff;
  position: relative;
}








.logo-box {
  overflow: hidden;
  border-radius: 12px;
}

.gallery-img {
  width: 100%;

  opacity: 0;
  transform: scale(0.8);

  transition: all 0.7s ease;
}

.gallery-img.show {
  opacity: 1;
  transform: scale(1);
}

.gallery-img:hover {
  transform: scale(1.05);
}