/* Parent */
.img-card {
  position: relative;
  overflow: hidden;
}

/* Initial state (hidden top) */
.preview-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;

  transition: transform 0.5s ease, opacity 0.5s ease, background 0.3s;
}

/* On hover → center */
.img-card:hover .preview-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background: red;
}